<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CombateSvcBehavior">
          <!-- To avoid disclosing metadata information, 
          remove the entry below before deployment -->
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceDiscovery>
            <announcementEndpoints>
              <endpoint kind="announcementEndpoint"
                        address="net.tcp://localhost:9021/Announcement"
                        binding="netTcpBinding"
                        bindingConfiguration="AnnouncementBinding" />
            </announcementEndpoints>
          </serviceDiscovery>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="DiscoveryBinding">
          <discoveryClient>
            <endpoint kind="discoveryEndpoint"
                      address="net.tcp://localhost:8001/Probe"
                      binding="netTcpBinding"
                      bindingConfiguration="ProbeBinding" />
            <findCriteria>
              <types>
                <add name="IGameMaster"/>
              </types>
              <extensions>
                <Id>IGameMaster</Id>
              </extensions>
            </findCriteria>
          </discoveryClient>
          <tcpTransport />
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="AnnouncementBinding">
          <security mode="None" />
        </binding>
        <binding name="ProbeBinding" >
          <security mode="None" />
        </binding>
        <binding name="CombateSvcBinding">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="eCombat.CombateSvc"
               behaviorConfiguration="CombateSvcBehavior">
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint name="CombateSvcEndpoint"
                  contract="eCombat.ICombateSvc"
                  address="CombateSvc"
                  listenUriMode="Unique"
                  binding="netTcpBinding"
                  bindingConfiguration="CombateSvcBinding" >
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://*"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <client>
      <endpoint name="Server_IGameMaster"
                address="http://schemas.microsoft.com/discovery/dynamic"
                contract="IGameMaster"
                binding="customBinding"
                bindingConfiguration="DiscoveryBinding" />
    </client>
  </system.serviceModel>
</configuration>
