<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CombateSvcBehavior">
          <serviceDiscovery>
            <announcementEndpoints>
              <endpoint kind="announcementEndpoint" address="net.tcp://localhost:9021/Announcement"
                        binding="netTcpBinding"/>
            </announcementEndpoints>
          </serviceDiscovery>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="rafapdes90.combate.CombateSvc" behaviorConfiguration="CombateSvcBehavior">
        <endpoint address="net.tcp://localhost:0/rafapdes90.combate/CombateSvc/" 
                  binding="netTcpBinding" contract="rafapdes90.combate.ICombateSvc" listenUriMode="Unique">
          <identity>
            <dns value="rafapdes90.combate" />
          </identity>
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>