<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DiscoveryBehavior">
          <endpointDiscovery>
            <extensions>
              <Contract>IGameMasterSvc</Contract>
            </extensions>
          </endpointDiscovery>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="GameMasterSvcBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceDiscovery>
            <announcementEndpoints>
              <endpoint kind="announcementEndpoint"
                        address="net.tcp://localhost:9021/Announcement"
                        binding="netTcpBinding"
                        bindingConfiguration="AnnouncementBinding" />
            </announcementEndpoints>
          </serviceDiscovery>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="AnnouncementBinding">
          <security mode="None" />
        </binding>
        <binding name="GameMasterSvcBinding">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="GameServer.GameMasterSvc" behaviorConfiguration="GameMasterSvcBehavior">
        <endpoint address="GameMasterSvc"
                  listenUriMode="Unique"
                  binding="netTcpBinding"
                  bindingConfiguration="GameMasterSvcBinding"
                  contract="GameServer.IGameMasterSvc"
                  behaviorConfiguration="DiscoveryBehavior" >
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://*" />
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/GameMasterSvc"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
