<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="GameMasterBehavior">
                    <serviceMetadata />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                    <serviceDiscovery>
                      <announcementEndpoints>
                        <endpoint kind="announcementEndpoint"
                                  address="net.tcp://localhost:9021/Announcement"
                                  binding="netTcpBinding"
                                  bindingConfiguration="AnnouncementBinding" />
                      </announcementEndpoints>
                    </serviceDiscovery>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
          <netTcpBinding>
            <binding name="AnnouncementBinding">
              <security mode="None" />
            </binding>
            <binding name="GameMasterBinding">
              <security mode="None" />
            </binding>
          </netTcpBinding>
        </bindings>
        <services>
            <service name="GameServer.GameMaster" behaviorConfiguration="GameMasterBehavior">
                <endpoint address="_GameMaster"
                          listenUriMode="Unique"
                          binding="netTcpBinding"
                          bindingConfiguration="GameMasterBinding"
                          contract="GameServer.IGameMaster">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
              <!--endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" /-->
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://*" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>